################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BankApp/v15/Server/sqlite3
/BankApp/bin/Debug/netcoreapp2.1
/.vs/BankApp/v15
